// EMAIL // 
.email-cta {
    width: 100%;
    min-height: 20vh;
    padding: 40px 0;
    background-color: $primary-color;
    color: $white;
    margin: 0px 0 0 0;
    
    // .container {
    //     width: 50%;
    // }
    
    .email-title {
        text-transform: uppercase;
        font-family: $primary-font;
        margin-top: 0px;
        text-align: left;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;
    }
    
    .content {
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .form-input {
        margin-top: 10px;
        height: 30px;
        width: 100%;
        border: none;
        padding: 5px;
        border: 1px solid $white;
        // padding-left: 20px;
    }

    .message {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        border: none;
        border: 1px solid $white;
    }

    // .grid-2 {
    //     display: grid;
    //     grid-template-columns: 2.1fr 1fr;
    //     grid-gap: 20px;
    // }
}

.send-btn {
    background-color: $secondary-color;
    color: $white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 5px;
    border-radius: 2px;

}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}