.brand {
    font-family: $secondary-font;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin: 0; 
    a {
        padding-left: 0px !important;
    }

}

.navigation-links {
    float: right;

    a {
        font-family: $secondary-font;
        font-size: 1.2rem;
        letter-spacing: -0.44px;
        margin-left: 25px;
        padding: 10px 0px;
    }

    a, a:visited {
        text-decoration: none;
        position: relative;    
        
        &:after {
            content: '';
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            background: $secondary-color;
            transition: 0.3s all;
        }
        
        &:hover:after {
            width: 100%;
        }
    }
}



// // NAVIGATION //
// // nav is the main navigation container
// // nav-list is the UL holding the buttons
// // nav-item is each indvidual item (li) 
// // brand is the typicalmitul logo

// .nav, .nav-list {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

// .brand a, .nav-list a {
//     // padding: 10px 0px 10px 62px;
//     display: block;
// }

// .nav-item {
//     font-family: $secondary-font;
//     font-size: 22px;
//     letter-spacing: -0.44px;
//     margin-left: 62px;
//     padding: 10px 0px;
// }

// .nav-item,
// .nav-item:visited {
//     text-decoration: none;
//     position: relative;

//     &:after {
//         content: '';
//         height: 3px;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 0%;
//         background: $secondary-color;
//         transition: 0.3s all;
//     }

//     &:hover:after {
//         width: 100%;
//     }
// }

// .brand {
//     font-family: $secondary-font;
//     font-weight: 100;
//     font-size: 30px;
//     letter-spacing: 5px;
//     margin: 0; 
//     a {
//         padding-left: 0px !important;
//     }
    
// }