.case {
    margin-top: 50px;
}

.case-inner {
    display: flex;
    background-color: #276EF1;
    color: $white;
    padding: 50px;
    // width: 85%;

    @media #{$mobile}, #{$tablet} {
        display: block;
        padding: 40px 25px;
    }
}

.case-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // margin-right: 25px;
    
    @media #{$mobile}, #{$tablet} {
        // margin-bottom: 30px;
        margin-right: 0;
    }

    .subtitle {
        color: $black;
    }

    .case-testimonial {
        font-size: $big-p + 10px;
        margin-bottom: 17px;
     
        @media #{$mobile} {
            font-size: $p-font-size;
        }
    }

    .case-name {
        font-weight: 900;
        font-size: $p-font-size - 3px;
    }

    .case-logo {
        width: 100px;
        filter:invert(97%) sepia(100%) saturate(13%) hue-rotate(196deg) brightness(103%) contrast(103%);

        @media #{$mobile} {
            width: 50px;
        }
    }
    
}

.case-img {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
}
