// VARIABLES // 
@import url(https://fonts.googleapis.com/css?family=Questrial&display=swap);
@import url("/fonts/font/stylesheet.css");
@import url("/node_modules/circular-std/dist/index.css");


$primary-font: 'Apercu Pro', sans-serif;
// $secondary-font: 'Product Sans', sans-serif;
$secondary-font: 'CircularStd', sans-serif;
$logo-font: 'Questrial', serif;

$primary-color: #001427;
$secondary-color: #2EC4B6;
$black: #000000;
$shell: #FAFFFA;
$white: #fff;

$transition: all 180ms ease-out 0s;

// FONT // 
$big-p: 24px;
$p-font-size: 18px;

// MEDIA QUERIES //
$mobile: "only screen and (max-width: 710px)";
$tablet: "only screen and (max-width: 950px)";


@mixin main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}


