@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --gutter: 16px;
}

#root,
#__next {
  isolation: isolate;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-eggshell text-dark;
  font-size: 18px;
}

::selection {
  @apply bg-yolk/50;
}

/* html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero-heading {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}


@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
}

@layer utilities {
  .hero-image {
    height: calc(100vh - theme('spacing.8'));
  }
  .h-real-screen {
    height: calc(100vh - theme('spacing.8'));
  }
  .focus-state {
    @apply outline-none focus:ring-yolk focus:ring-2;
  }
  .content, .overlay {
    grid-area: 1/1;
  }

}

@layer components {
  .link {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 1;
  }

  .link::after {
    content: "";
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 1px;
    top: 110%;
    left: 2.5%;;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    @apply bg-dark;
  }

  .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .glow::after {
    @apply content-[''] absolute -z-1 transition-all duration-1000 opacity-0 bottom-0 top-1 left-1.5 right-1.5;
  }

  .glow:hover::after {
    @apply bg-yolk opacity-60 rounded-sm blur-xl;
  }
  
}

 .photo-grid-item:nth-child(1) {
	 grid-column: 1 / span 3;
	 grid-row: 1;
   @apply aspect-3/2;
}
.photo-grid-item:nth-child(2) {
	 grid-column: 4 / span 3;
	 grid-row: 1;
   @apply aspect-3/2;
}

.photo-grid-item:nth-child(3) {
	 grid-column: 1 / span 2;
	 grid-row: 2;
   height: 50vh;
}

.photo-grid-item:nth-child(4) {
	 grid-column: 3 / span 2;
	 grid-row: 2;
   height: 50vh;
}
.photo-grid-item:nth-child(5) {
	 grid-column: 5 / span 2;
	 grid-row: 2;
   height: 50vh;
}

.photo-grid-item:nth-child(6) {
	 grid-column: 1 / span 4;
	 grid-row: 3;
   height: 70vh;
}
.photo-grid-item:nth-child(7) {
	 grid-column: 5 / span 2;
	 grid-row: 3;
   height: 70vh;
}
 

/* .tooltip-animation[data-state="instant-open"] {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  transition: .2s ease;
  animation: scale-in 200ms ease forwards;
}; */

.tooltip-animation {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  transition: .2s ease;
  animation: scale-in 200ms ease forwards;
};

@keyframes scale-in {
  0% { opacity: 0; transform: scale(0.4); };
  100% { opacity: 1; transform: scale(1); };
};

@keyframes scale-out {
  0% { opacity: 1; transform: scale(1); };
  100% { opacity: 0; transform: scale(0.4); };
};


.marquee {
    @apply py-1.5 my-2 overflow-x-hidden rounded bg-yolk relative w-full;
    --offset: calc(2 * theme('fontSize.base'));
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 20s linear infinite;
    /* animation-play-state: paused; */
}

.marquee span {
    @apply w-full mx-2 tracking-tight uppercase whitespace-nowrap will-change-transform;
}

/* .marquee:hover .marquee__inner {
    animation-play-state: running;
} */

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


