@import "variables";
@import "reset";
@import "case";
@import "snackbar";


// BASICS //
.container {
    width: 85vw;
    margin: 0 auto;

    @media #{$mobile} {
        width: 90vw;
    }
    
}

.underline {
    height: 3.5px;
    width: 25%;
    background-color: $secondary-color;
    margin: 0 auto;
    margin-bottom: 25px;
    // margin-top: -10px;

    @media #{$mobile} {
        margin-left: 0;   
    }

}

.btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    border-radius: 2px;
    height: 35px;
    min-width: 120px;
    padding: 0.5625rem 1.5625rem;
    font-family: $primary-font;
    font-weight: 900;
    font-size: $p-font-size - 5;

}

.spacing {
    margin: 150px 0 0 0;
}

.subtitle {
    text-transform: uppercase;
    color: $secondary-color;
    letter-spacing: 1.4px;
}

.hidden {
    display: none;
}

// FONTS //
h1, h2, h3 {
    font-family: $primary-font;
}

h2 {
    font-size: 42px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

p {
    font-size: $p-font-size;
    line-height: 1.5;
    color: rgb(51, 51, 51);

    @media #{$mobile} {
        font-size: 10px;
    }
}



// HERO //

.hero > .container {
    @media #{$mobile} {
        // width: 100%;
        // margin-bottom: 50px;
    }
}

.hero-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(/images/hero/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: 2s all;
}

.tagline {
    font-family: $primary-font;
    // mix-blend-mode: difference;
    font-size: 40px;
    color: $shell;
    letter-spacing: -1.2px;
    // text-align: center;
}

// NAVIGATION //
.navigation {
    // margin-bottom: 75px;
    
    @media #{$mobile} {
        // position: fixed;
    }
}

.nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: $shell;
    border-bottom: 1px solid rgba(252, 251, 250, 0);
    transition: border-bottom 0.3s ease-out;
    

    .nav-inner {
        width: 100%;
        // max-width: 1220px;
        // padding: 0 40px;
        display: flex;
        align-items: center;
    }

}

.nav-logo {
    flex: 1;
    padding: 10px 0;

    @media #{$mobile} {
        display: none;
    }
    
    
    img {
        height: 34px;
    }

    p {
        font-size: $p-font-size + 10px;
    }

}

.nav-items {
    display: flex;
    

    .nav-item {
        margin-left: 40px;
        // font-weight: 500;
        font-size: $p-font-size;
        line-height: 22px;
        color: $black;
        padding: 10px 0;
        transition: opacity 0.2s;

        @media #{$mobile} {
            text-align: center;
            margin-right: 25px;
            margin-left: 0;
        }

    }

    .nav-item,
    .nav-item:visited {
        text-decoration: none;
        position: relative;

        &:after {
            content: '';
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            background: $secondary-color;
            transition: 0.3s all;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

// ABOUT //
.about {
    padding-top: 100px;
}

.about-inner {
    width: 50%;
    margin: 0 auto;
    
    @media #{$mobile}, #{$tablet} {
        width: 100%;
        // padding: 0 16px;
        text-align: left;
    }

    p { 
        font-size: $big-p;

        @media #{$mobile} {
            font-size: $p-font-size;
        }

    }
}



// BRANDS // 
.brands {
    // background-color: whitesmoke;
    // width: 50%;
    // margin: auto;
    margin-top: 50px;
    
    .container {
        width: 75%;
        
        @media #{$mobile} {
            width: 90vw;
        }

    }

    .brands-caption {
        @extend .subtitle;
        font-size: 10px;
        font-weight: 900;
        color: grey;
        margin-bottom: 10px;

        @media #{$mobile} {
            margin-top: 50px;
            text-align: left;
        }
    }

    .brands-items {
        min-height: 110px;
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        max-width: 100%;

        @media #{$mobile} {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px 20px;
        }
    }

    .brand-logo {
        justify-self: center;
        max-width: 100px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.65;
        transition: $transition;

        @media #{$mobile} {
            max-width: 65px;
            margin-bottom: 7px;
            justify-self: flex-start;
        }

        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }
    }
}


// SHOPPING CTA
.cta, .cta-2 {
    margin-top: 50px;
}

.cta-wrap {
    display: flex;
    flex-wrap: wrap;
    min-height: 110px;
    width: 100%;
    
    @media #{$mobile}, #{$tablet} {
        display: block;
    }    


    .cta-text {
        background-color: $primary-color;
        color: $white;
        display: flex;
        align-items: center;
        padding: 40px;
        width: 80%;
        font-size: $p-font-size;
        line-height: 1.5;
        // font-family: $primary-font;
        // font-weight: 100;

        @media #{$mobile}, #{$tablet} {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .cta-btn {
        background-color: $secondary-color;
        color: $white;
        font-size: $p-font-size;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        border: 2px solid $secondary-color;
        border-left: none;
        transition: $transition;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media #{$mobile}, #{$tablet} {
            display: block;
            width: 100%;
            padding: 25px;
            text-align: center;
            border-left: 2px solid $secondary-color;
        }

        &:hover {
            color: $primary-color;
            background-color: transparent;
            border: 2px solid $primary-color;
            border-left: none;

            @media #{$mobile}, #{$tablet} {
                border-left: 2px solid $primary-color;
            }
        }
    }
}




// PHOTO GRID // 
.photo-grid {
    margin-top: 50px;
}

.photos {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    // grid-auto-rows: 340px;
    grid-gap: 1rem;
    grid-auto-flow: dense;

    @media #{$mobile} {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
    }

}

.photo-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-photo {
    transition: $transition;
    
    &:hover {
        opacity: 0.4;
    }
    
}

// .photos > .photo-item:nth-child(4n) {  
//     grid-column: span 2;
//     grid-row: span 2;
// }
// .photos > .photo-item:nth-child(8n) {
//     grid-column: span 3;
//     grid-row: span 3;
// }

// WORK // 
.work {
    // margin-top: 100px;
    p {
        font-size: $big-p;

        @media #{$mobile} {
            font-size: $p-font-size;
        }
    }
    
}

.work-photos-grid {
    // display: grid;
    grid-auto-rows: 340px;

    @media #{$mobile} {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    
    .work-img-inner {
        background: 
            linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0,0, 0.1)
            ),
            url(/images/hero/1.jpg);
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        float: left;
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: $transition;

        &:hover {
            background: whitesmoke;
        }

    }

    .hidden-text {
        opacity: 0;
        color: $black;
        padding: 25px;
        
        &:hover {
            opacity: 1;
        }
    }

}

.work-img-inner:hover > .work-logo {
    display:none;
}

.work-logo {
    position: absolute;
    margin: 0;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    filter:invert(97%) sepia(100%) saturate(13%) hue-rotate(196deg) brightness(103%) contrast(103%);
}

.hidden-center {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


// SERVICES // 
.services {
    padding: 100px 0;    
}

.services-grid {
    background-color: whitesmoke;
    padding: 40px;
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 2fr);
    grid-gap: 1rem;

    @media #{$mobile} {
        display: block;
        padding: 40px 25px;
    }

    @media #{$tablet} {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-callout {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-self: center;
        
        h1 {
            font-size: 42px;
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 20px;
            font-size: $big-p - 5px;
        }

        a {
            @extend .subtitle;
            font-weight: 900;
            font-size: $p-font-size - 3px;
            transition: $transition;
            
            &:hover {
                color: $primary-color;
            }
        }
    }

    .services-item {
        background-color:$white;
        border: 1px solid whitesmoke;
        // height: 100%;
        border-radius: 0.25rem;
        
        @media #{$mobile} {
            margin-bottom: 15px;
        }
        
        .services-item-img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 240px;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            border-left:1px solid #e3e3e3;
            border-right:1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
        }

        .services-item-text {
            padding: 1.5rem 2.5rem;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-left:1px solid #e3e3e3;
            border-right:1px solid #e3e3e3;
            border-bottom:1px solid #e3e3e3;

            h1 {
                margin: 25px 0;
                // color: lightskyblue;
            }

            p {
                margin-bottom: 25px;
                font-size: 15px;
            }
        }
    }

}

.services-item-img.pg {background-image: url('/images/hero/1.jpg');}
.services-item-img.li {background-image: url('/images/hero/1.jpg');}

@media #{$tablet} {
    .services-grid {
        .col-1 {
            grid-area: 1 / 1 / 2 / 3;
        }
        .col-2 {
            grid-area: 2 / 1 / 3 / 2;
        }
        .col-3 {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}

// CONTACT // 
.contact {
    margin-top: 150px;
    padding: 50px 0;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(https://source.unsplash.com/random);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-inner {
    margin: 0 auto;
    width: 50%;
    background-color: $white;
    padding: 40px;

    @media #{$mobile}, #{$tablet} {
        width: 100%;
    }
}

.contact-text-content {
    
    .contact-title {
        margin-bottom: 15px;
    }

    .contact-caption {
        margin-bottom: 15px;
        font-size: $p-font-size - 3px;
    }
}

.contact-form {

    input, textarea {
        border-radius: 1px;
        border-style: solid;
        border-color: rgb(219, 219, 219);
        line-height: 1;
        margin-bottom: 15px;
        width: 100%;
        padding: 16px;
        outline: none;
        transition: border-color 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1) 0s;

        &:focus {
            border-color: $secondary-color;
        }
    }

    label {
        font-weight: 900;
        line-height: 2.3;
        margin-left: 1px;
    }

    textarea {
        resize: none;
        overflow: hidden;
    }

    .form-btn {
        @extend .btn;
        transition: $transition;

        &:hover {
            background-color: $white;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}

.form-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    
    @media #{$mobile} {
        display: block;
    }

}

// FOOTER //
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    color: $white;
    min-height: 100px;
    background-color: $primary-color;
}

.footer-inner {
    width: 100%;
    display: flex;

    @media #{$mobile} {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .footer-logo {
        margin: 0;
        width: 60%;
        font-weight: bold;
        font-size: 1.5rem;
        // letter-spacing: 5px;

        @media #{$mobile} {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .footer-links {
        width: 20%;

        @media #{$mobile} {
            width: 100%;
            margin-bottom: 25px;
        }

        .footer-link-title {
            font-weight: bold;
            opacity: 0.5;
            // margin-top: 0;
            font-size: $p-font-size - 8px;
            margin-bottom: 15px; 
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .footer-list-item a {
            display: block;
            margin-bottom: 15px;
            opacity: 0.8;
            transition: $transition;
            color: $white;
            text-decoration: none;
            font-size: $p-font-size - 3px;
            font-family: 'Product Sans';

            &:hover {
                opacity: 1;
            }
        }
    }

}


.footer-list-item {
    margin-top: 5px;
    font-size: $p-font-size;
}



body.fixed-nav {
  padding-top: 90px; 
}
  body.fixed-nav .navigation > .container {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
  }